<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<!-- Filtercodes component -->
<div class="col-md-6" th:fragment="filtercodes">
    <label>Filtercodes</label>
    <div>
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="11"
               data-off="11"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="12"
               data-off="12"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="13"
               data-off="13"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="21"
               data-off="21"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="22"
               data-off="22"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="23"
               data-off="23"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="31"
               data-off="31"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="32"
               data-off="32"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
        <input th:classappend="${val}" data-size="mini" type="checkbox"
               data-toggle="toggle"
               data-on="33"
               data-off="33"
               data-onstyle="success" data-offstyle="danger"
               data-width="10" data-height="10">
    </div>
</div>
</body>
</html>