<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html"
      layout:decorator="base">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <!--<div class="col-lg-2" th:replace="fragments/aside :: aside(index='dashboard')"></div>-->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Dashboard</h5></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-justify">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#roctab">ROC Curves</a>
                                    </li>
                                    <li><a data-toggle="tab" href="#attributetab">Attribute Selection</a></li>
                                    <li><a data-toggle="tab" href="#predicttab">Predict</a></li>
                                    <li><a data-toggle="tab" href="#clusterstab">Cluster Analysis</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="roctab" class="tab-pane fade in active">
                                        <div class="row top-buffer">
                                            <div class="col-md-2">
                                                <form id="roc_form_1" class="form-inline">
                                                    <button id="avsbc" class="btn btn-default">A vs BC
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="roc1slider" data-provide="slider" data-slider-id='roc1slider'
                                                       type="text" data-slider-min="0" data-slider-max="1"
                                                       data-slider-step="0.05" data-slider-value="0.1"/>
                                            </div>
                                            <div class="col-md-2">
                                                <form id="roc_form_2" class="form-inline">
                                                    <button id="cvsab" class="btn btn-default">C vs AB
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="roc2slider" data-provide="slider" data-slider-id='roc2slider'
                                                       type="text" data-slider-min="0" data-slider-max="1"
                                                       data-slider-step="0.05" data-slider-value="0.1"/>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-6">
                                                <div id="roc1" class="roc"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="roc2" class="roc"></div>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-12">
                                                <div id="sankeychart" class="roc"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="attributetab" class="tab-pane fade">
                                        <div class="row top-buffer">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="input">Select dataset</label>
                                                        <select class="form-control chosen" required name="input"
                                                                id="input">
                                                            <option value="0">select dataset</option>
                                                            <option th:each="dataset: ${datasets}"
                                                                    th:value="${dataset.id}"
                                                                    th:text="${dataset.name}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="attr_statistic">Select statistic</label>
                                                        <select class="form-control chosen" required name="mechanism"
                                                                id="attr_statistic">
                                                            <option value="0">select statistic</option>
                                                            <option th:each="mechanism: ${mechanisms}"
                                                                    th:value="${mechanism.id}"
                                                                    th:text="${mechanism.name}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row top-buffer">
                                                    <div class="col-md-6"
                                                         th:replace="fragments/filtercodes :: filtercodes(val='fc_attr')"></div>
                                                    <div class="col-md-6">
                                                        <label for="attr_comprehensive">Separate resit grades</label>
                                                        <div>
                                                            <input type="checkbox" id="attr_comprehensive"
                                                                   data-toggle="toggle"
                                                                   data-on="Include" data-off="Exclude" data-size="mini"
                                                                   data-onstyle="success" data-offstyle="danger"
                                                                   data-width="100" data-height="25">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button id="weights_btn" class="btn btn-default">Show</button>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-12">
                                                <div class="attributeweights"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="predicttab" class="tab-pane fade">
                                        <div class="row top-buffer">
                                            <div class="col-md-3">
                                                <label for="instrument">Select instrument</label>
                                                <div>
                                                    <select class="form-control chosen" required name="instrument"
                                                            id="instrument">
                                                        <option value="0">Select instrument</option>
                                                        <option th:each="instrument: ${instruments}"
                                                                th:value="${instrument.id}"
                                                                th:text="${instrument.name}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="pred_statistic">Select statistic</label>
                                                <select class="form-control chosen" required name="mechanism"
                                                        id="pred_statistic">
                                                    <option value="0">select statistic</option>
                                                    <option th:each="mechanism: ${mechanisms}"
                                                            th:value="${mechanism.id}"
                                                            th:text="${mechanism.name}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="predict_comprehensive">Separate resit grades</label>
                                                <div>
                                                    <input type="checkbox" id="predict_comprehensive"
                                                           data-toggle="toggle"
                                                           data-on="Include" data-off="Exclude" data-size="mini"
                                                           data-onstyle="success" data-offstyle="danger"
                                                           data-width="100" data-height="25">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="predict_studentids">Student ids</label>
                                                <select class="form-control chosen" required name="students"
                                                        id="predict_studentids">
                                                    <option value="0">Select student id</option>
                                                    <option th:each="student: ${studentids}"
                                                            th:value="${student.id}"
                                                            th:text="${student.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div th:replace="fragments/filtercodes :: filtercodes(val='fc_pred')"></div>
                                            <div th:replace="fragments/targets"></div>
                                            <div class="col-md-2">
                                                <button id="predict_btn" class="btn btn-default">Predict</button>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-12">
                                                <div id="predictionchart"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="clusterstab" class="tab-pane fade">
                                        <div class="row top-buffer">
                                            <div class="col-md-3">
                                                <label for="cluster_btn">Build clusters</label>
                                                <div>
                                                    <button id="cluster_btn" class="btn btn-default">Create
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="instrument">Select cluster</label>
                                                <div>
                                                    <select class="form-control chosen" required name="cluster"
                                                            id="cluster">
                                                        <option value="0">Select cluster</option>
                                                        <option value="1">Cluster 1</option>
                                                        <option value="2">Cluster 2</option>
                                                        <option value="3">Cluster 3</option>
                                                        <option value="4">Cluster 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-6">
                                                <div id="body1">
                                                    <div id="radarchart1"></div>
                                                </div>
                                            </div>
                                        <!--</div>
                                        <div class="row top-buffer">-->
                                            <div class="col-md-6">
                                                <div id="body2">
                                                    <div id="radarchart2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end tab -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script src="js/d3.tip.js" th:src="@{/js/d3.tip.js}"></script>
        <script src="js/attributeweighting.js" th:src="@{/js/attributeweighting.js}"></script>
        <script src="js/predictionchart.js" th:src="@{/js/predictionchart.js}"></script>
        <script src="js/sankey.js" th:src="@{/js/sankey.js}"></script>
        <script src="js/sankeychart.js" th:src="@{/js/sankeychart.js}"></script>
        <script src="js/radarchart.js" th:src="@{/js/radarchart.js}"></script>
        <script src="js/radar.js>" th:src="@{/js/radar.js}"></script>
    </th:block>
</body>
</html>